body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /* background-color: darkslategray;  */
}
#heading {
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 0;
}
#container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 230px;
    height: 300px;
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(135, 183, 149);
}
.display {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(237, 245, 201);
    height: 30px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 25px;
    font-weight: 500;
}
.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;
    font-weight: 700;
    font-size: x-large;
}
.operator {
    background-color: black;
    color: white;
}
.clear {
    background-color: #e08a72;
}
.button {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    cursor: default;
}

.number {
    background-color: #dbdbdb;
}